/* * {
  border: 1px solid red;
} */

/* img {
  border: 1px solid blue;
} */

/* .col {
  border: 2px solid blue;
} */

/* .collapse {
  display: block!important;
} */


/* ESCONDIDOS */
/* .tela-intro, nav {
  display: none!important;
} */

/*BODY*/
body {
  display: flex;
  flex-direction: column;
  background-color: white;
}

main {
  background-color: #fff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: center;
  position: relative;
  padding-bottom: 0;
  padding-top: 106px;
}

.header-estreito {
  border-top: 20px solid #01837D;
}

.header-logo {
  border-top: 106px solid #01837D;
}


main button {
  width: 100%;
  background-color: transparent;
  border: 0;
  padding: .6rem;
  cursor: pointer;
  /*
  color: inherit;
  border: 0;
   */
}

main i {
  display: inline!important;
  margin-left: .5rem;
}


/* ESTILOS DE TEXTO */

/* main p, main li, .botao {
  font-family: 'Slabo 27px', serif;
  font-size: 1.1rem;
} */

h1, h4 {
  color:#01837D;
}

h2 span, h3 span {
  display: inline;
  background-color: #c9f5e6;
  padding-left: .7rem;
  padding-right: .7rem;
  line-height: 2.1rem;
}

h1, h2, h3 {
 font-family: 'Slabo 27px', serif;
 margin-bottom: 1rem;
 text-align: center;
}

h1, button h2, button h3 {
  text-transform: uppercase;


}

h1 {
 font-size:2.5rem;
 margin-bottom: 2rem;
}

h2 {
 width: 100%;
 font-size:2rem;
 margin-top: 1rem;
 text-align: left;
}

h3 {
 margin-left: -.5rem;
 margin-top: 1rem;
 font-size:1.5rem;
 padding: 0;
}

h4 {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 0.2rem;
}

h2:hover, h3:hover, .botao:hover {
  text-decoration: underline;
}

main ul {
   list-style-type: none;
   text-align: left;
}

main ul li:before {
  content: "\2022";
  color:#01837D;
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
}


/* CLASSES */

/* .folhas {
  position: relative;
  padding: 0;
  margin-bottom: 2rem;
  margin-top: 2rem;
} */

.container-fluid {
  transition: 1s;
}

.container {
  padding: 0;
}

.col-central {
  margin: 0 1rem;
}

.tela {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 70vh; */
  /* box-shadow:5px 5px 0 0 rgba(220, 220, 220, 0.5); */
  /* border: 2px solid black; */
}

.tela-intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: flex-end; */
  text-align: center;
  padding: 1rem 0rem;
}

.tela-conteudo {
  padding: 3rem 0rem;
  display: none;
}


.intro div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infografico {
  /* padding: 0; */
}

.infografico>div {
  display: flex;
  flex-direction: column;
}

.pai {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 7rem;
  margin-top: 7rem;
  z-index: 200;
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-right: 15px;
}

.pai p {
  margin-bottom: 1rem;
}

/* .pai, .item {
  text-align: left;
} */

.item-exp>div:not(:first-child) {
  margin-top: 2rem;
}



.ciclo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  min-height: 5rem;
  width: 100%;
}

.ciclo-titulo {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.container-2-1 {
  min-height: 150px;
}

.container-5-1 {
  min-height: 80px;
}

.ciclo-titulo h3 {
  margin: 0;
}

.ciclo {
  position: relative;
  top: -50;
}

.subitem {
  position: relative;
  margin-left: 2rem;
  margin-top: 1rem;
}

li button {
  padding-left: .2rem;
}

.collapsing {
-webkit-transition: height .6s ease;
     -o-transition: height .6s ease;
        transition: height .6s ease;
}

.collapsed {
 /* box-shadow:inset -330px 0 0 0 rgb(255, 255, 255);
 transition: all .5s; */
}

.ilustra {
  text-align: center;
}

.ilustra-texto {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ilustra-texto.carro {
  height: 65px;
}

.ilustra-texto.bike {
  height: 55px;
}

.segunda-linha {
  margin-top: 2rem;
  position: relative;
}

.comecar {
 width: auto;
 padding: 0 .3rem;
}

.botao {
 width: auto;
 background-color: #c9f5e6;
 padding: 0 .3rem;
 font-weight: 600;
 /* display: inline; */
}

.feedback-container {
  position: relative;
  align-self: flex-end;
  width: 100%;
  overflow: hidden;
}

.feedback {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #01837D;
  color: #fff;
  width: 33rem;
  padding: 1.5rem 6rem 1.5rem 2rem;
}

.feedback p {
  margin: 0;
}

.feedback a {
  font-weight: bold;
  color:  #fff;
}

.cenario-bg {
  height: 275px;
  width: 100vw;
  /* background-size: auto 111px, auto 250px; */
  background-origin: border-box, border-box;
  background-repeat: repeat-x, repeat-x;
  background-image: url(../assets/cenario-animacao.gif), url(../assets/cenario-fundo.png);

}

/* ELEMENTOS GRÁFICOS */
/* .clamp {
  position: absolute;
  top: -50px;
  left: 30px;
  height: 70px;
  z-index:100;
}

.caneta  {
  display: none;
  position: absolute;
  top: 40px;
  right: -70px;
  height: 150px;
  z-index:500;
}

.desk-l {
  position: absolute;
  transform:translate(-100%, 0);
  top: -20px;
  left: -50px;
  height: 200vh;
  z-index:100;
  overflow: hidden;
}

.desk-r {
  position: absolute;
  transform:translate(100%, 0);
  top: -10px;
  right: -50px;
  height: 200vh;
  z-index:100;
  overflow: hidden;
}

.desk-l img {
  height: 1200px;
}

.desk-r img {
  height: 1100px;
} */

.seta {
  position: absolute;
}

.seta1 {
  transform:translate(0, -100%) scale(.8);
  left: 50%;
  top: 0;
}

.seta2 {
  transform:translate(-100%, -100%) scale(.8);
  left: 25px;
  top: 10px;
}

.seta3 {
  transform:translate(100%, -100%);
  top: 45px;
  right: 88px;
  transition: .6s;
}

.expandida3 {
  height: 450px;
  width: 130px;
}

.compacta3 {
  height: 200px;
  width: 140px;
}

.seta3-ponta {
  transform:translate(100%, -100%) scale(.8);
  top: 49px;
  right: 100px;
}

.seta4 {
  transform:translate(-100%, 100%) scale(.8);
  bottom: 15px;
  left: 32%;
}

.seta5 {
  transform:translate(100%, -100%) scale(.8);
  right: 40px;
  top: 10px;
}

.seta6 {
  transform:translate(-100%, -100%);
  left: 60px;
  top: 50px;
  height: 189px;
  width: 152px;
}

/* .seta6b {
  transform:translate(-100%, -100%) scale(.8);
  left: 60px;
  top: 50px;
  height: 189px;
  width: 152px;
} */

.seta6-ponta {
  transform:translate(-100%, -100%) scale(.8);
  left: 68px;
  top: 51px;
}

.seta62 {
  transform:translate(-100%, 0) scale(.8);
  left: -5px;
  top: -12px;
}




/* Media queries */

@media (max-width: 1199px) {
  h2 {
    background-color: #c9f5e6;
    text-align: center;
    font-size: 2.2rem;
  }

  h2 span {
    display: inline;
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    line-height: 2.1rem;
  }

  .seta2 {
    left: 63px;
  }

  .seta3 {
    right: 84px;
  }

  .seta3-ponta {
    right: 90px;
  }

  .seta5 {
    right: 83px;
  }
}


@media (max-width: 990px) {

.ciclo-titulo h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.seta1, .seta2, .seta3, .seta4, .seta5, .seta6, .seta6-ponta, .seta3-ponta {
  display: none;
}

nav .barra {
  width: 150px;
  height: 79px;
}

.pai {
  margin-top: 0;
}

.container-2-1, .container-5-1 {
  min-height: 0;
}

.segunda-linha {
  margin-top: 0;
}

.ilustra-texto {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.col-central {
  margin-left: 0;
  margin-right: 0;
}

.ciclo-titulo {
  position: relative;
}

.feedback {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
}

}

@media (max-width: 767px) {
.ciclo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

  /* .feedback-container {
    flex-direction: column;
  }
  .feedback {
    max-width: 100%;
  }
  .folha {
    padding: 4rem 1rem;
  } */
}

@media (max-width: 575px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 2rem;
  }
  .container {
    width: auto;
    margin-left: 8px;
    margin-right: 8px;
  }
}
